@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,300&family=Raleway&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

table {
  border-spacing: 100px 50px;
  margin: 0;
  padding: 0;
  background-color: rgb(199, 199, 205);
}


  table.ex1 {
      empty-cells: hide;
     width: 100%;
     
     justify-content: center;
    
         
    }
    
    table.ex2 {
      empty-cells: show;
      background-color: brown;
    }

    .A1{
      border-radius: 2px;
      background-color: blue;
      width: 200px;
      height: 200px;
      margin: 20px;
      border-radius: 5px;
      text-align: center;
      background-image: linear-gradient(135deg, blue, violet, red, gold )

    }

    
button{
 
  border-radius: 5px;
  display: inline-flex;
  font-size: 15px;
  padding: 15px;
  margin: 10px;
}
    .A2{
      border-radius: 2px;
      background-color: white;
      width: 200px;
      height: 200px;
      border-radius: 5px;
      text-align: center;
      


    }

    .A3{
      border-radius: 2px;
      background-color: white;
      border-radius: 5px;
      text-align: center;


  }
li{
  list-style-type: none;
}
    .B1{
      border-radius: 2px;
      background-color: rgb(17, 18, 17);
      border-radius: 5px;
      text-align: center;
      color: white;
      


    }

    .B1 > div{
      display: inline-flex;
      margin-left: 100px;
    }
  

    .B2{
      border-radius: 2px;
      background-color: white;
      border-radius: 5px;
      text-align: center;

    }

    .B3{
      border-radius: 2px;
      background-color: white;
      border-radius: 5px;
      text-align: center;

    }


    .B4{
      border-radius: 2px;
      background-color: white;
      border-radius: 5px;
      text-align: center;

    }


    .B5{
      border-radius: 2px;
      background-color: white;
      border-radius: 5px;
      text-align: center;

    }


    .B6{
      border-radius: 2px;
      background-color: white;
      border-radius: 5px;
      text-align: center;

    }

    .B7{
      border-radius: 2px;
      background-color: white;
      border-radius: 5px;
      text-align: center;

    }
    .column {
      float: left;
      width: 33.33%;
      padding: 10px;
      
    }
    
   
    .row:after {
      content: "";
      display: table;
      clear: both;
    }